<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productHistory">
            <h2><span>Product History</span> {{productHistory.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Data</span></dt>
                <dd>
                    <span>{{productHistory.data}}</span>
                </dd>
                <dt><span>Old Value</span></dt>
                <dd>
                    <span>{{productHistory.oldValue}}</span>
                </dd>
                <dt><span>New Value</span></dt>
                <dd>
                    <span>{{productHistory.newValue}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{productHistory.description}}</span>
                </dd>
                <dt><span>Created At</span></dt>
                <dd>
                    <span>{{productHistory.createdAt}}</span>
                </dd>
                <dt><span>Updated At</span></dt>
                <dd>
                    <span>{{productHistory.updatedAt}}</span>
                </dd>
                <dt><span>Product</span></dt>
                <dd>
                    <div *ngIf="productHistory.productId">
                        <a [routerLink]="['/product', productHistory.productId, 'view']">{{productHistory.productId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-history', productHistory.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
