<div>
    <h2 id="page-heading">
        <span>Product Evaluates</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-evaluate" [routerLink]="['/product-evaluate/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Product Evaluate
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="productEvaluates?.length === 0">
        <span>No productEvaluates found</span>
    </div>
    <div class="table-responsive" *ngIf="productEvaluates?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="point"><span>Point</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="evaluate"><span>Evaluate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createdAt"><span>Created At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="userLogin"><span>User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="productId"><span>Product</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let productEvaluate of productEvaluates ;trackBy: trackId">
                <td><a [routerLink]="['/product-evaluate', productEvaluate.id, 'view' ]">{{productEvaluate.id}}</a></td>
                <td>{{productEvaluate.point}}</td>
                <td>{{productEvaluate.evaluate}}</td>
                <td>{{productEvaluate.createdAt | date:'medium'}}</td>
                <td>
                    {{productEvaluate.userLogin}}
                </td>
                <td>
                    <div *ngIf="productEvaluate.productId">
                        <a [routerLink]="['/product', productEvaluate.productId , 'view' ]" >{{productEvaluate.productId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/product-evaluate', productEvaluate.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/product-evaluate', productEvaluate.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(productEvaluate)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="productEvaluates?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
