<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productEvaluate">
            <h2><span>Product Evaluate</span> {{productEvaluate.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Point</span></dt>
                <dd>
                    <span>{{productEvaluate.point}}</span>
                </dd>
                <dt><span>Evaluate</span></dt>
                <dd>
                    <span>{{productEvaluate.evaluate}}</span>
                </dd>
                <dt><span>Created At</span></dt>
                <dd>
                    <span>{{productEvaluate.createdAt}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{productEvaluate.userLogin}}
                </dd>
                <dt><span>Product</span></dt>
                <dd>
                    <div *ngIf="productEvaluate.productId">
                        <a [routerLink]="['/product', productEvaluate.productId, 'view']">{{productEvaluate.productId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-evaluate', productEvaluate.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
