<div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(content/images/hero_1.jpg);"
  data-aos="fade">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-md-5 mx-auto mt-lg-5 text-center">
        <h1>Smart Tivi LG 4K 55 inch 55UM7290PTD</h1>
        <p class="mb-5"><strong class="text-white">14.300.000đ</strong></p>
      </div>
    </div>
  </div>
</div>
<div class="container" style="font-family: Arial, Helvetica, sans-serif;">
  <nav style="margin-top: 20px;">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link" id="nav-home-Laptop" data-toggle="tab" href="#nav-Laptop" role="tab"
        aria-controls="nav-home" aria-selected="true">Laptop</a>
      <a class="nav-item nav-link" id="nav-profile-Tivi" data-toggle="tab" href="#nav-Tivi" role="tab"
        aria-controls="nav-profile" aria-selected="false">Tivi</a>
      <a class="nav-item nav-link" id="nav-contact-tulanh" data-toggle="tab" href="#nav-tulanh" role="tab"
        aria-controls="nav-contact" aria-selected="false">Tủ lạnh</a>
      <a class="nav-item nav-link" id="nav-contact-dieuhoa" data-toggle="tab" href="#nav-dieuhoa" role="tab"
        aria-controls="nav-contact" aria-selected="false">Điều hòa</a>
      <a class="nav-item nav-link" id="nav-contact-locnuoc" data-toggle="tab" href="#nav-locnuoc" role="tab"
        aria-controls="nav-contact" aria-selected="false">Máy lọc nước</a>
      <a class="nav-item nav-link" id="nav-contact-maygiat" data-toggle="tab" href="#nav-maygiat" role="tab"
        aria-controls="nav-contact" aria-selected="false">Máy giặt</a>
      <a class="nav-item nav-link" id="nav-contact-nuocnong" data-toggle="tab" href="#nav-nuocnong" role="tab"
        aria-controls="nav-contact" aria-selected="false">Máy nước nóng</a>
      <a class="nav-item nav-link" id="nav-contact-hutbui" data-toggle="tab" href="#nav-hutbui" role="tab"
        aria-controls="nav-contact" aria-selected="false">Máy hút bụi</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade" id="nav-Laptop" role="tabpanel" aria-labelledby="nav-home-Laptop">Laptop</div>
    <div class="tab-pane fade" id="nav-Tivi" role="tabpanel" aria-labelledby="nav-profile-Tivi">.Tivi..</div>
    <div class="tab-pane fade" id="nav-tulanh" role="tabpanel" aria-labelledby="nav-contact-tulanh">.tulanh..</div>
    <div class="tab-pane fade" id="nav-dieuhoa" role="tabpanel" aria-labelledby="nav-home-dieuhoa">.dieuhoa..</div>
    <div class="tab-pane fade" id="nav-locnuoc" role="tabpanel" aria-labelledby="nav-profile-locnuoc">..locnuoc.</div>
    <div class="tab-pane fade" id="nav-maygiat" role="tabpanel" aria-labelledby="nav-contact-maygiat">maygiat..</div>
    <div class="tab-pane fade" id="nav-nuocnong" role="tabpanel" aria-labelledby="nav-home-nuocnong">nuocnong...</div>
    <div class="tab-pane fade" id="nav-hutbui" role="tabpanel" aria-labelledby="nav-profile-hutbui">..hutbui.</div>
  </div>
</div>