<div *ngIf="!isAdmin()">
    <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(content/images/hero_1.jpg);"
        data-aos="fade">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-5 mx-auto mt-lg-5 text-center">
                    
                </div>
            </div>
        </div>
    </div>

    <div class="site-section" id="property-details">
        <div class="container">
            <div class="row" *ngIf="products.length">
                <div class="col text-left">
                    <a [routerLink]="['/']">
                        <p>Mua thêm sản phẩm khác</p>
                    </a>
                </div>
            </div>
            <div class="row" *ngIf="products.length">
                <div class="col blog-content">
                    <div class="pt-5">
                        <h5 class="mb-5">{{products.length}} Sản phẩm</h5>
                        <ul class="comment-list" *ngFor="let product of products; let i=index">
                            <li class="comment">
                                <div class="vcard bio">
                                    <img [defaultImage]="'content/assest/Spinner.gif'"
                                        [lazyLoad]="'http://localhost:9000/api/getFile/image/' + product.photoId">
                                </div>
                                <div class="row">
                                    <div class="comment-body col-md-8">
                                        <h3>{{product.name}}</h3>
                                        <div class="meta">{{product.code}}</div>
                                        <div>Số lượng còn: {{product.maxquantity}}</div>
                                    </div>
                                    <div class="col-md-2 text-danger">
                                        <ng-container *ngIf="product.salePrice; else priceProduct">
                                            <p style="color: black;">
                                                <del>{{product.sellPrice * product.quantity | number}}đ</del></p>
                                            <p>{{product.salePrice * product.quantity | number}}đ</p>
                                        </ng-container>
                                        <ng-template #priceProduct>
                                            <p>{{product.sellPrice * product.quantity | number}}đ</p>
                                        </ng-template>

                                    </div>
                                    <div class="col-md-2">
                                        <Button class="btn" (click)="removeItem(i)">
                                            <fa-icon style="color: #bc2525;" [icon]="faTrash"></fa-icon>
                                        </Button>
                                    </div>
                                </div>
                                <div class="comment-body row-md">
                                    <div class="align-items-center col" style="margin-top: 1rem">
                                        <button [disabled]="product.quantity <= 1" class="btn btn-secondary"
                                            style="display: inline;" (click)="addAmount(i, product.quantity - 1)">
                                            <fa-icon [icon]="faMinus"></fa-icon>
                                        </button>
                                        <p class="align-self-center"
                                            style="display: inline; margin-left: 1rem; margin-right: 1rem;">
                                            {{product.quantity}}</p>
                                        <button [disabled]="product.quantity >= product.maxquantity"
                                            class="btn btn-secondary" style="display: inline;"
                                            (click)="addAmount(i, product.quantity + 1)">
                                            <fa-icon [icon]="faPlus"></fa-icon>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div *ngIf="!products.length" class="text-center" style="margin-bottom: 100px;">
                <div class="text-danger">
                    <p style="font-size: 30px; font-family: Arial, Helvetica, sans-serif;">Chưa có sản phẩm nào trong
                        giỏ
                        hàng</p>
                </div>
                <button class="btn btn-primary" (click)="backPage()">
                    <fa-icon [icon]="faAngleDoubleLeft"></fa-icon>&nbsp;&nbsp;&nbsp;Quay lại mua hàng
                </button>
            </div>
            <div *ngIf="products.length">
                <hr class="my-4">
                <div class="row">
                    <div class="col-md-8 text-left">
                        <h4>Tổng tiền: </h4>
                    </div>
                    <div class="col-md-4 text-danger">
                        <h5>{{totalPrice | number}}‬ VNĐ</h5>
                    </div>
                </div>
            </div>
            <hr class="my-4">
            <h4 class="mb-3">Phương thức thanh toán</h4>
            <div class="row">
                <div class="col-3">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active btn" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home"
                            role="tab" aria-controls="v-pills-home" aria-selected="true">Nhận hàng tại
                            nhà</a>
                        <!-- <a class="nav-link btn" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile"
                            role="tab" aria-controls="v-pills-profile" aria-selected="false">Nhận hàng tại siêu thị</a> -->
                    </div>
                </div>
                <div class="col-9">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                            aria-labelledby="v-pills-home-tab">
                            <form (ngSubmit)="submitPayment()" [formGroup]="formHouse">
                                <div class="text-success"
                                    style="font-size: 30px; font-family: Arial, Helvetica, sans-serif;">Thông tin khách
                                    hàng
                                </div>
                                <div class="row" style="padding-left: 20px; padding-right: 20px; margin-top: 10px;">
                                    <!-- <div class="form-group col-md-6">
                                        <label for="name">Họ và tên</label>
                                        <input type="text" class="form-control" id="name" placeholder="Họ và tên"
                                            formControlName="name" required>
                                    </div> -->
                                    <div class="form-group col-md-6">
                                        <label for="phone">Số điện thoại</label>
                                        <input type="phone" class="form-control" id="phone" placeholder="Số điện thoại"
                                            formControlName="phone" required>
                                    </div>
                                </div>
                                <div class="text-success"
                                    style="font-size: 30px; font-family: Arial, Helvetica, sans-serif; margin-top: 10px;">
                                    Địa chỉ nhận hàng</div>
                                <div class="row" style="padding-left: 20px; padding-right: 20px;">
                                    <div class="col-md-6">
                                        <label for="city">Tỉnh, thành phố</label>
                                        <!-- <input type="city" class="form-control" id="city" placeholder="Tỉnh, Thành phố"
                                            formControlName="city"> -->
                                        <select class="form-control" formControlName="city" required>
                                            <option value="" selected disabled>Chọn một tỉnh, thành phố</option>
                                            <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="district"> Quận, huyện</label>
                                        <!-- <input type="district" class="form-control" id="district"
                                            placeholder="Quận, huyện" formControlName="district"> -->
                                        <select class="form-control" formControlName="district" required>
                                            <option value="" selected disabled>Chọn một quận, huyện</option>
                                            <option *ngFor="let district of districts" [value]="district.id">
                                                {{district.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row" style="padding-left: 20px; padding-right: 20px; margin-top: 10px;">
                                    <div class="form-group col-md-6">
                                        <label for="ward">Phường, xã</label>
                                        <!-- <input type="text" class="form-control" id="ward" placeholder="Phường, xã"
                                            formControlName="ward"> -->
                                        <select class="form-control" formControlName="ward" required>
                                            <option value="" selected disabled>Chọn một phường, xã</option>
                                            <option *ngFor="let ward of wards" [value]="ward.name">
                                                {{ward.name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="address">Số nhà, tên đường</label>
                                        <input type="address" class="form-control" id="address"
                                            placeholder="Số nhà, tên đường" formControlName="address">
                                    </div>
                                </div>
                                <div>
                                    <button style="margin-top: 10px;" type="submit"
                                        class="btn btn-danger btn-lg btn-block">Xác
                                        nhận thanh toán</button>

                                </div>
                            </form>
                        </div>
                        <!-- <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                            aria-labelledby="v-pills-profile-tab">
                            <form (ngSubmit)="submitSuperMarket()" [formGroup]="formSuperMarket">
                                <div class="text-success"
                                    style="font-size: 30px; font-family: Arial, Helvetica, sans-serif;">Thông tin khách
                                    hàng
                                </div>
                                <div class="row" style="padding-left: 20px; padding-right: 20px; margin-top: 10px;">
                                    <div class="form-group col-md-6">
                                        <label for="nameHouse">Họ và tên</label>
                                        <input type="text" class="form-control" id="nameHouse" placeholder="Họ và tên"
                                            formControlName="name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="phoneHouse">Số điện thoại</label>
                                        <input type="phone" class="form-control" id="phoneHouse"
                                            placeholder="Số điện thoại" formControlName="phone">
                                    </div>
                                </div>
                                <div>
                                    <button style="margin-top: 10px;" type="submit"
                                        class="btn btn-danger btn-lg btn-block">Xác
                                        nhận đặt hàng</button>

                                </div>
                            </form>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>